@font-face{
    font-family: 'CaviarDreams'; 
    src: url('CaviarDreams_Bold.ttf') format('truetype')
}
@font-face{
    font-family: 'HeiseiKakuGothic';
    src: url('Heisei\ Kaku\ Gothic\ Std\ W5.otf') format('opentype')
}